* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  width: 70%;
  height: 700px;
  margin: auto;
  background-color: aquamarine;
  display: flex;
  /* flex-direction: row; defaultna vrednost */
  justify-content: space-between;
  justify-content: space-around;
  gap: 10px;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}

.child {
  width: 150px;
  height: 150px;
}
.child:nth-of-type(1) {
  background-color: violet;
  order: 3;
  /* align-self: flex-start; */
}
.child:nth-of-type(2) {
  background-color: green;
  display: flex;
  justify-content: center; /* horizontalno poravnanje*/
  /* align-items: center; vertikalno poravnanje */
  order: 1;
}
.child:nth-of-type(3) {
  background-color: red;
  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  order: 1;
  align-items: center; /* horizontalno poravnanje - razlog :  flex-direction:column */
  justify-content: flex-end; /* vertikalno poravnanje - razlog : flex-direction: column */
}
.child p {
  font-size: 2.5em;
}
