@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.boks {
    position: relative;
    left: 200px;
    right: 210px;
    top: 130px;
    background-color: palegoldenrod;
    width: 1500px;
    height: 500px;
    border-radius: 10px;
}

.boxdva {
    padding: 5px;
    position: relative;
    left: 50px;
    top: 110px;
    width: 350px;
    height: 130px;
    background-color: white;
    box-shadow: 0px 10px 15px 13px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.smajli {  
    position: relative;
    right: 400px;
    top: 50px;
    float: right;
    width: 50px;
    height: 50px;
}
.learning {
    position: relative;
    left: 200px;
    top: 170px;
}

.clock {
    border-color: aliceblue;
    width:500px;
    height: 150px;
    position: relative;
    top: 200px;
    left: 200px;
    border: black solid 1px;
}

.sat {
    position: relative;
    bottom: 50px;
    left: 20px;
    width: 100px;
    height: 150px;
}

.schedule {
    font-size: 15px;
    padding: 10px;
    float: right;
    position: relative;
    right: 80px;
}

.little {
    position: relative;
    top: 50px;
    left: 130px;
    font-size: 15px;
    float: right;
    padding: 2px;
}

.fudbal {
    position: relative;
    left: 730px;
    top: 50px;
    border: black solid 1px;
    width: 480px;
    height: 150px;
}
.lorem1 {
    font-size: 17px;
    position: relative;
    bottom: 150px;
    left: 190px;

}
.lorem2 {
    position: relative;
    bottom: 160px;
    left: 120px;
}

.ronaldo {
    position: relative;
    width: 100px;
    height: 150px;
}

.blabla {
    border: black solid 1px;
    width: 480px;
    height: 150px;
    position: relative;
    left: 1230px;
    bottom: 99px;
}

.qwer {
    font-size: 17px;
    position: relative;
    bottom: 150px;
    left: 230px;
}
.asdf {
    position: relative;
    bottom: 140px;
    left: 120px;
}
.messi {
    width: 100px;
    height: 150px;
}

.mylearn {
    position: relative;
    top: 130px;
    left: 1590px;
    color: blueviolet;
}
