@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  background-color: rgb(244, 244, 244);
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.box {
  position: fixed;
  background-color: lightblue;
  width: 100%;
  height: 90px;
}

.login {
  border: 5px;
  background-color: white;
  width: 70px;
  height: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
}
.login:hover {
  background-color: yellow;
}
.more {
  float: right;
  border: 5px;
  text-align: center;
  width: 58px;
  height: 40px;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 15px;
  background-color: white;
  font-size: 20px;
}

.contact {
  float: right;
  border: 5px;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  width: 83px;
  margin-top: 25px;
  margin-right: 15px;
  font-size: 20px;
  text-align: center;
}

.home {
  float: right;
  border: 5px;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  width: 57px;
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
  margin-right: 13px;
}

.logo {
  float: left;
  height: 70px;
  width: 90px;
  margin-top: 5px;
}

.about {
  float: right;
  border: 5px;
  border-radius: 5px;
  background-color: white;
  height: 53px;
  width: 84px;
  margin-top: 25px;
  margin-right: 13px;
  font-size: 20px;
  text-align: center;
}

.face {
  margin-bottom: 3px;
  font-size: 50px;
  color: rgb(2, 117, 218);
}
.tekst {
  margin-top: 0px;
  font-weight: 530;
  font-size: 25px;
}
.fb {
  font-family: "Poppins", sans-serif;
  position: relative;
  left: 500px;
  margin-top: 270px;
  width: 400px;
  height: 300px;
  display: inline-block;
}

.drugo {
  border-radius: 10px;
  background-color: white;
  border: 1px;
  width: 400px;
  height: 350px;
  box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 300px;
  margin-right: 550px;
  margin-bottom: 200px;
}
.imejl {
  height: 25px;
  background-color: white;
  width: 350px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 9px;
  border-radius: 10px;
}
.sifra {
  height: 25px;
  background-color: white;
  width: 350px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  border-radius: 10px;
}

.prijava {
  width: 373px;
  height: 50px;
  padding: 0;
  margin: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: 5px solid #007bff;
  box-sizing: border-box;
  border-radius: 10px;
}

.forgot {
  margin-left: 110px;
  margin-top: 0px;
  background-color: white;
  color: #007bff;
}

.create {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 16px;
  background-color: #14c001;
  color: #fff;
  border: 5px solid #14c001;
  box-sizing: border-box;
  border-radius: 10px;
}
.brand {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}
.a {
  font-weight: bold;
}
