@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.covek {
  float: right;
  height: 750px;
}

.prvi h1 {
  font-size: 57px;
}

.prvi p {
  font-size: 24px;
}

.brandon {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 260px;
  left: 200px;
}

.ikonice {
  font-size: 24px;
}

.kategorije {
  margin-left: 17px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
  position: fixed;
}

.fotogg {
  color: rgb(55, 89, 211);
}

.drugi {
  clear: both;
}

.opis {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.tekstj {
  margin: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.biznismen {
  height: 400px;
  margin-left: 110px;
  position: relative;
  bottom: 60px;
}

.dada {
    flex: 1;
  /* display: flex;
  flex-direction: column */
}


.uiux {
    padding-left:50px;
  font-size: 24px;
  color: gray;
  font-weight: bold;
  position: relative;
  bottom: 460px;
  left: 700px;
}

.cursive {
  font-style: italic;
}
